{% extends 'adminbase.html' %}
{% block admin %}
<div class="row">
    <div class="col-sm-12">
        <h1>Admin Dashboard</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card p-5 shadow text-center">
            <h1><i class="ti ti-users"></i></h1>
            <h5>Total Users</h5>
            <h2>{{user_count}}</h2>

        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-5 shadow text-center">
            <h1><i class="ti ti-users"></i></h1>
            <h5>Total Users</h5>
            <h2>{{user_count}}</h2>

        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-5 shadow text-center">
            <h1><i class="ti ti-users"></i></h1>
            <h5>Total Users</h5>
            <h2>{{user_count}}</h2>

        </div>
    </div>
</div>
{% endblock %}