{% extends 'userbase.html' %}
{% load static %}
{% block user %}
<div class="row">
    <div class="col-sm-12">
        <h3>Edit Profile</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="n"> Name</label>
            <input type="text" name="name" value="{{user.name}}" class="form-control mb-4" id="n">
            <label for="em">Email<small>(you can not change)</small></label>
            <input type="email" name="email" value="{{user.email}}" class="form-control mb-4" id="em" disabled>
            <label for="n">Contact No</label>
            <input type="number" name="contactno" value="{{user.contactno}}" class="form-control mb-4" id="n">
            <label for="pic">Profile Picture</label>
            <input type="file" name="profile"  class="form-control mb-4" id="pic">
            <label for="add">Address</label>
            <textarea name="address" id="add" class="form-control mb-4">{{user.address}}</textarea>
            <button type="submit" class="btn btn-success">
                <i class="ti ti-file"></i>Save
            </button>
        </form>
    </div>
</div>

{% endblock %}